<!DOCTYPE html>
<html>
  <head>
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: https://*.tiles.mapbox.com https://*.tile.openstreetmap.org; connect-src 'self' https://api.mapbox.com;"
    /> -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>CanSat Ground Station</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
